* {
	box-sizing: border-box;
}

body {
	background-color: darkgreen;
	color: white;
}

.trivia {
	height: 300px;
	width: 900px;
	margin: 0 auto 0 auto;
}

button {
	/*margin: 20px;*/
}

.displayResult, .displayStats {
	height: 250px;
	width: 250px;
	border: 2px solid orange;
}

.openingPage {
	margin: auto;
	position: absolute;
	z-index: 20;
	top: 0; left: 90; bottom: 0; right: 0;
	height: 800px;
	width: 800px;
}

#triviaQuestion {
	height: 80px;
	display: inline-block;
	/*min-width: 600%;  change this when configuring css */
	font-size: 28px;
	border: 3px solid darkblue;
	background-color: lightgreen;
	border-radius: 10px;
	padding: 15px;
}

#submitAnswers {
	width: 100px;
}

.dropdown-menu {
	color: black;
}

/*.options {
	margin: 15px;
	height: 80px;
	width: 100%; /* change this when configuring css */
	/*border: 3px solid darkblue;
	background-color: lightblue;
	border-radius: 10px;
	padding: 15px;
	font-size: 28px;
}

.options> input {
	margin-right: 15px;
}*/
