* {
	box-sizing: border-box;
}

body {
	background-color: black;
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	/* center center fixed;*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: white;
	font-size: 20px;
	font-family: 'Bubblegum Sans', cursive;
	/*text-shadow: black 0.1em 0.1em 0.2em;*/
}

html {
	background-color: black;
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	/* center center fixed;*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.heading, .startRow, .statsRow, .triviaRow {
	border: 2px double white;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
}

.displayResults {
	display: none;
	font-size: 28px;
}


span {
	font-size: 35px;
}

.timer>p {
	height: 50px;
	width: 50px;
	font-size: 30px;
	color: black;
	border-radius: 50%;
	margin: 0 auto 0 auto;
	background-color: #04ff00;
	border: 4px solid #028700;
	font-weight: 600;
}

.timer {
	display: none;
}

.btn, .btn>span {
	font-size: 20px;
}

.dropdown-menu {
	color: black;
}

.questionAndAnswerDiv {
	margin: 10px; 
	font-weight: 500;
}

.question {
	color: #fcc94b;
	font-size: 26px;
}

label {
	margin: 10px;
	font-size: 24px;
}

#submitAnswers {
	margin-left: 40%;
}

.dropdown-menu {
	font-size: 25px;
}

h2 {
	padding: 15px;
}

#green {
	color: #41d33f;
	font-size: 40px;
}

.yellow {
	color: #ffc83f;
	font-size: 40px;
}
