* {
	box-sizing: border-box;
}

body {
	background-color: black;
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	/* center center fixed;*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: white;
	font-size: 20px;
	font-family: 'Bubblegum Sans', cursive;
	/*text-shadow: black 0.1em 0.1em 0.2em;*/
}

html {
	background-color: black;
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	/* center center fixed;*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* style for all divs */
.heading, .startRow, .statsRow, .triviaRow {
	border: 2px double white;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
}

/* hide result div */
.displayResults {
	display: none;
	font-size: 28px;
}

/* all spans styling */
span {
	font-size: 35px;
}

/* timer css */
.timer>p {
	height: 50px;
	width: 50px;
	font-size: 30px;
	color: black;
	border-radius: 50%;
	margin: 0 auto 0 auto;
	background-color: #04ff00;
	border: 4px solid #028700;
	font-weight: 600;
}

/* hiding timer at first */
.timer {
	display: none;
}

/* button font and caret font */
.btn, .btn>span {
	font-size: 20px;
}

/* dropdown options font color */
.dropdown-menu {
	color: black;
}

/* question and answer div */
.questionAndAnswerDiv {
	margin: 10px; 
	font-weight: 500;
}

/* style for questions */
.question {
	color: #fcc94b;
	font-size: 26px;
}

/* style for answer text */
label {
	margin: 10px;
	font-size: 24px;
}

/* submit button style */
#submitAnswers {
	margin-left: 40%;
}

/* dropdown menu font size */
.dropdown-menu {
	font-size: 25px;
}

/* style for instruction */
h2 {
	padding: 15px;
}

/* word 'start' in instruction */
#green {
	color: #41d33f;
	font-size: 40px;
}

/* words 'category' and 'difficulty' in instruction */
.yellow {
	color: #ffc83f;
	font-size: 40px;
}
